<component name="ArtifactManager">
  <artifact type="war" name="springmvcday03_01:war">
    <output-path>$PROJECT_DIR$/springmvcday03_01/target</output-path>
    <root id="archive" name="springmvcdao03_01.war">
      <element id="artifact" artifact-name="springmvcday03_01:war exploded" />
    </root>
  </artifact>
</component>