<component name="ArtifactManager">
  <artifact type="war" name="spring_day01test:war">
    <output-path>$PROJECT_DIR$/spring_day01test/target</output-path>
    <root id="archive" name="spring_day01test.war">
      <element id="artifact" artifact-name="spring_day01test:war exploded" />
    </root>
  </artifact>
</component>